.router-link-active {
    color: #ffffff !important;
    font-weight: bold;
}

.home.router-link-active{
    color: rgba(255,255,255,.85) !important;
    font-weight: normal;
}

.home.router-link-exact-active.router-link-active{
    color: #ffffff !important;
    font-weight: bold;
}
/*nav-link router-link-exact-active router-link-active*/